/node_modules/
/course-info.yaml
/course-remote-info.yaml
/package.json
/package-lock.json
/Open Space/Launchpad/
/Open Space/Control deck/
/Open Space/3… 2… 1… Liftoff/
/Open Space/X-files/
/Open Space/One small step for man/
